<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Personel Yonetim Sistemi</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="@ViewBag.departman"><a href="/departman">Departmanlar</a></li>
            <li class="@ViewBag.personel" ><a href="/personel">Personeller</a></li>
            <li><a href="#">Giriş Yap</a></li>
            <li><a href="#">Üye Ol</a></li>
        </ul>
    </div>
</nav>