
@{
    ViewBag.Title = "YeniDepartmanEkle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2 class="help-block">Departman @ViewBag.button</h2>
<hr />
<form method="post" action="/departman/@ViewBag.action">
    <div class="form-group">
        <label>
            Departman Adı
        </label>

        <input type="text" name="Ad" placeholder="@ViewBag.departmanAdi" class="form-control input-group-sm" />
        
        <input type="hidden" name="id" value="@ViewBag.departmanId" />
    </div>
    <button type="submit" class="btn btn-success">@ViewBag.button</button>
    <a href="/departman" type="reset" class="btn btn-danger">Vazgeç</a>
</form>

